<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="./bootstrap.php"
		 syntaxCheck="true"
		 colors="true">
	<testsuites>
		<testsuite name="RavenToolsAPI">
			<directory suffix="Test.php">RavenToolsAPI</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">Object</directory>
			<exclude>
			</exclude>
		</whitelist>
	</filter>
	
	<php>
	  <const name="RAVEN_API_KEY" value="123456789"/>
	</php>

</phpunit>